#first {
  background: url('/assets/images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 20px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  background: rgba(55,55,55,0.7);
  top: 15%;
  margin: 0 auto 40px;
  h1 {
    font-size: 50px;
  }
  .lead {
    font-size: 26px;
  }
}

.top10 {
  margin-top: 10%;
}

.form-block {
  width: 45%;
  margin: 0 auto 20px;
  color: white;
  .date {
    width: 48%;
    margin-bottom: 40px;
    &.left {
      float: left;
    }
    &.right {
      float: right;
    }
  }
}

label {
  text-align: left;
  font-size: 20px;
  display: block;
}

input {
  height: 40px;
  width: 100%;
  color: grey;
}

form {
  button {
    padding: 10px 40px;
    background: transparent;
    border: 1px solid white;
    color: white;
  }
}

#second {
  h1 {
    text-align: center;
  }
  .hotel-block {
    text-align: center;
    margin: 60px 0px;
  }
  .right {
    float: right;
  }
  p {
    text-align: center;
    font-size: 18px;
  }
  button {
    text-align: center;
    padding: 10px 20px;
  }
  iframe {
    margin: 0 auto;
    width: 75%;
  }
}
