<section id='first' ng-hide='!first'>
   
   <div class="hero-unit">
     <h1>ReviewCloud</h1>
    <p class="lead">find somewhere to stay</p>
   </div>

  <div class="container">
    <div class="text-center top10">
      <div class="row">
        <form>
          <div class="form-block">
            <label>Location</label>
            <input placeholder="Near Me"></input>
          </div>
          <div class="form-block">
            <label>Date</label>
            <div>
              <input placeholder="From" class="date left"></input>
              <input placeholder="To" class="date right"></input>
            </div>
          </div>
          <button ng-click="search()">Search</button>
        </form>
      </div>
    </div>
  
  </div>

</section>

<section id='second' ng-show='second' ng-hide="hotelInfo">
  <div class='container'>
    <div ng-repeat="hotel in hotels" class="hotel-block">
      <div ng-click="details(hotel)">
        <div class="right">
          <p>{{hotel.price}}</p>
          <button>book</button>
        </div>
        <h1>{{hotel.name}}</h1>
        <iframe/>
      </div>

    </div>
    
  </div>
</section>

<section id="third" ng-show="hotelInfo">
  <div class="container">
    <div>
      IMAGE HERE
      <h1>{{hotelInfo.name}}</h1>
      <h1 class="text-right">{{hotelInfo.price}}</h1>
    </div>
    <iframe/>
    <div>
      <h1>DESCRIPTION</h1>
      <p>description here</p>
    </div>
    <div>
      <h1>ROOM TYPES</h1>
      <p>description here</p>
    </div>
    <div>
      <h1>AMENITIES</h1>
      <p>description here</p>
    </div>
    <div>
      <h1>OTHER INFO</h1>
      <p>description here</p>
    </div>

  </div>
  
</section>

